/* Estilos generales para toda la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

.w3-top {
  background-color: #333;
  color: white;
}

.w3-sidebar {
  background-color: #333;
  color: white;
}

.w3-sidebar a {
  color: white;
}

.w3-center {
  text-align: center;
}

.w3-padding-16 {
  padding: 16px;
  background-color: #333;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#mySidebar {
  width: 250px;
}

.w3-main {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
  width: 200px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.portfolio__title {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  margin: 20px 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

#No_peliculas {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.entidad {
  width: calc(25% - 20px);
  margin: 10px;
  box-sizing: border-box;
  text-align: center;
}

.nombrePelicula {
  font-size: 16px;
  text-transform: uppercase;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.site-footer {
  background-color: #333;
  color: white;
  padding: 30px 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info,
.newsletter {
  padding: 20px;
  text-align: center;
}

p {
  font-size: 16px;
}

a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

.infoEsp {
  display: flex;
  align-items: center;
}

.info-left {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.image-right {
  flex: 1;
  text-align: center;
}

.image-right img {
  max-width: 100%;
  height: auto;
}

  
 
  
 
  