<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Agenda">
    <meta name="author" content="e-ghost 2019">

    <title>AgendaVue</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Cambiar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">AgendaVue</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contactos">Contactos</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#nuevo">Añadir contacto</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Acerca de...</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">AgendaVue</span>
                        <hr class="star-light">
                        <span class="skills">Agenda básica en Vue</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Contactos Grid Section -->
    <section id="contactos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contactos</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <template>
                <div v-if="contactos.length > 0">
                    <div class="row">
                        <div class="col-xs-4">
                            <h4>Nombre</h4>
                        </div>
                        <div class="col-xs-4">
                            <h4>Email</h4>
                        </div>
                        <div class="col-xs-3">
                            <h4>Teléfono</h4>
                        </div>
                    </div>
                    <div class="row" v-for="(contacto, indice) in contactos" :key="contacto.nombre">
                        <div vocab="http://schema.org/" typeof="Person" itemscope itemtype="http://schema.org/Person">
                            <div class="col-xs-4">
                                <p property="name" itemprop="name">{{contacto.nombre}}</p>
                            </div>
                            <div class="col-xs-4">
                                <p property="email" itemprop="email">{{contacto.email}}</p>
                            </div>
                            <div class="col-xs-3">
                                <p property="telephone" itemprop="telephone">{{contacto.telf}}</p>
                            </div>
                            <div class="col-xs-1">
                                <button @click="borrarContacto(indice)" class="btn btn-danger btn-sm"><span
                                        class="glyphicon glyphicon-remove"></span></button>
                            </div>
                            <script type="application/ld+json">
                            {
                                "@context": "http://schema.org",
                                "@type": "Person",
                                "name": "{{contacto.nombre}}",
                                "email": "{{contacto.email}}",
                                "telephone": "{{contacto.telf}}"
                            }
                        </script>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <div class="row">
                        <div class="col-xs-12">
                            <p>No se ha encontrado ningún contacto.</p>
                        </div>
                    </div>
                </div>
            </template>
        </div>

        <div class="container" id="nuevo">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Añadir contacto</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <form name="sentMessage" id="contactForm" novalidate @submit.prevent="anyadirContacto"
                        @keydown.enter="$event.preventDefault()">
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Nombre</label>
                                <input type="text" class="form-control" placeholder="Nombre" id="name"
                                    v-model="nuevoContacto.nombre">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email</label>
                                <input type="email" class="form-control" placeholder="Email" id="email"
                                    v-model="nuevoContacto.email">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Teléfono</label>
                                <input type="tel" class="form-control" placeholder="Número de teléfono" id="phone"
                                    v-model="nuevoContacto.telf">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Añadir</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-12 text-center" id="redes">
                <h2>Embedding Redes Sociales</h2>
                <hr class="star-primary">
            </div>
            <div id="tweet">
                <blockquote class="twitter-tweet" data-dnt="true" data-theme="dark">
                    <p lang="en" dir="ltr">No. 2905 programming meme <a
                            href="https://twitter.com/hashtag/programmingjoke?src=hash&amp;ref_src=twsrc%5Etfw">#programmingjoke</a>
                        <a href="https://twitter.com/hashtag/code?src=hash&amp;ref_src=twsrc%5Etfw">#code</a> <a
                            href="https://twitter.com/hashtag/coding?src=hash&amp;ref_src=twsrc%5Etfw">#coding</a>
                        <a
                            href="https://twitter.com/hashtag/javascript?src=hash&amp;ref_src=twsrc%5Etfw">#javascript</a>
                        <a href="https://twitter.com/hashtag/python?src=hash&amp;ref_src=twsrc%5Etfw">#python</a> <a
                            href="https://twitter.com/hashtag/datascience?src=hash&amp;ref_src=twsrc%5Etfw">#datascience</a>
                        <a
                            href="https://twitter.com/hashtag/programming?src=hash&amp;ref_src=twsrc%5Etfw">#programming</a>
                        <a
                            href="https://twitter.com/hashtag/programmer?src=hash&amp;ref_src=twsrc%5Etfw">#programmer</a>
                        <a href="https://twitter.com/hashtag/joke?src=hash&amp;ref_src=twsrc%5Etfw">#joke</a> <a
                            href="https://twitter.com/hashtag/100daysofcode?src=hash&amp;ref_src=twsrc%5Etfw">#100daysofcode</a>
                        <a href="https://twitter.com/hashtag/webdev?src=hash&amp;ref_src=twsrc%5Etfw">#webdev</a> <a
                            href="https://twitter.com/hashtag/webdevelopment?src=hash&amp;ref_src=twsrc%5Etfw">#webdevelopment</a>
                        <a href="https://twitter.com/hashtag/php?src=hash&amp;ref_src=twsrc%5Etfw">#php</a> <a
                            href="https://twitter.com/hashtag/java?src=hash&amp;ref_src=twsrc%5Etfw">#java</a> <a
                            href="https://twitter.com/hashtag/linux?src=hash&amp;ref_src=twsrc%5Etfw">#linux</a> <a
                            href="https://twitter.com/hashtag/css?src=hash&amp;ref_src=twsrc%5Etfw">#css</a> <a
                            href="https://twitter.com/hashtag/programmingmemes?src=hash&amp;ref_src=twsrc%5Etfw">#programmingmemes</a>
                        <a
                            href="https://twitter.com/hashtag/codinglife?src=hash&amp;ref_src=twsrc%5Etfw">#codinglife</a>
                        <a
                            href="https://twitter.com/hashtag/codingpics?src=hash&amp;ref_src=twsrc%5Etfw">#codingpics</a>
                        <a
                            href="https://twitter.com/hashtag/programmingjokes?src=hash&amp;ref_src=twsrc%5Etfw">#programmingjokes</a>
                        <a href="https://t.co/8SOcC0V5kD">pic.twitter.com/8SOcC0V5kD</a>
                    </p>&mdash; Garbage collector 🗑️
                    (@mytrashcode) <a
                        href="https://twitter.com/mytrashcode/status/1572314667527147530?ref_src=twsrc%5Etfw">September
                        20,
                        2022</a>
                </blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Acerca de...</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>AgendaVue es un proyecto simple en VueJS.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyleft &copy; e-ghost 2019
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>

    <!-- Vue -->
    <script src="js/vue.js"></script>
    <script src="js/agenda.js"></script>

</body>

</html>