<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Agenda">
    <meta name="author" content="e-ghost 2019">

    <title>AgendaVue</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        
</head>

<body id="page-top" class="index" itemscope itemtype="http://schema.org/WebPageElement">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" itemscope itemtype="http://schema.org/SiteNavigationElement"> 
        <div class="container" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Cambiar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top" itemprop="name">AgendaVue</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contactos">Contactos</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#nuevo">Añadir contacto</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#social">Redes Sociales</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Acerca de...</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header itemscope itemtype="http://schema.org/WPHeader">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name" itemprop="headline">AgendaVue</span>
                        <hr class="star-light">
                        <span class="skills" itemprop="description">Agenda básica en Vue</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Contactos Grid Section -->
    <section id="contactos"> <!-- Micro-Semantics (RDFa and Microdata) -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 itemprop="name">Contactos</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <template>
                <div class="row" v-for="(contacto, index) in contactos" vocab="http://schema.org/" typeof="Person"> <!-- Micro-Semantics (RDFa and Microdata) -->
                    <div class="col-xs-4">
                        <p property="name">{{contacto.nombre}}</p> <!-- Micro-Semantics (RDFa and Microdata) -->
                    </div>
                    <div class="col-xs-4">
                        <p property="email">{{contacto.email}}</p> <!-- Micro-Semantics (RDFa and Microdata) -->
                    </div>
                    <div class="col-xs-3">
                        <p property="telephone">{{contacto.telf}}</p> <!-- Micro-Semantics (RDFa and Microdata) -->
                    </div>
                    <div class="col-xs-1">
                        <button class="btn btn-danger btn-sm" @click="borrarContacto(index)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <!-- JSON-LD -->
                    <script type="application/ld+json">
                        {
                            "@context": "http://schema.org",
                            "@type": "Person",
                            "name": "{{nuevoContacto.nombre}}",
                            "email": "{{nuevoContacto.email}}",
                            "telephone": "{{nuevoContacto.telf}}"
                        }
                    </script>
                </div>
                <div class="row" v-if="contactos.length === 0">
                    <div class="col-xs-12">
                        <p>No se ha encontrado ningún contacto.</p>
                    </div>
                </div>
            </template>
        </div>

        <!-- Añadir nuevo Section -->
        <section id="nuevo" itemscope itemtype="http://schema.org/Person"> <!-- Micro-Semantics (RDFa and Microdata) -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 itemprop="name">Añadir contacto</h2> <!-- Micro-Semantics (RDFa and Microdata) -->
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <template>
                            <form name="sentMessage" id="contactForm" novalidate @submit.prevent="anyadirContacto"> <!-- AÑADIR @submit.prevent="anyadirContacto" -->
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label for="name" itemprop="name">Nombre</label> <!-- Micro-Semantics (RDFa and Microdata) -->
                                        <input v-model="nuevoContacto.nombre" type="text" class="form-control" placeholder="Nombre" id="name" required> <!-- AÑADIDO: V-MODEL -->
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label for="email" itemprop="email">Email</label> <!-- Micro-Semantics (RDFa and Microdata) -->
                                        <input v-model="nuevoContacto.email" type="email" class="form-control" placeholder="Email" id="email" required> <!-- AÑADIDO: V-MODEL -->
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="row control-group">
                                    <div class="form-group col-xs-12 floating-label-form-group controls">
                                        <label for="telf" itemprop="telephone">Teléfono</label> <!-- Micro-Semantics (RDFa and Microdata) -->
                                        <input v-model="nuevoContacto.telf" type="tel" class="form-control" placeholder="Número de teléfono" id="telf" required> <!-- AÑADIDO: V-MODEL -->
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <br>
                                <div id="success"></div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <button type="submit" class="btn btn-success btn-lg" itemprop="actionStatus">Añadir</button> <!-- Micro-Semantics (RDFa and Microdata) -->
                                    </div>
                                </div>

                            </form>
                        </template>
                    </div>
                </div>
            </div>
        </section>
        <!-- Redes sociales section  -->
        <section id="social">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Redes Sociales</h2> 
                        <hr class="star-primary">
                    </div>
                    <!-- Twitter Scction-->
                    <div id="tweet" class="col-lg-12 text-center">
                        <h3>Twitter</h3>
                        <!-- Embedded Tweets Section -->
                        <blockquote class="twitter-tweet" data-theme="dark"><p lang="en" dir="ltr">Tbh programming memes are the worst because they represent the life of many programmers. 
                            <a href="https://t.co/xBSBv3vQHK">pic.twitter.com/xBSBv3vQHK</a>
                        </p>&mdash; Arbjon Marasheviq🇦🇱 (@TheFaceOfCode) <a href="https://twitter.com/TheFaceOfCode/status/1730136492280787306?ref_src=twsrc%5Etfw">November 30, 2023</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <!-- Embedded buttons Sections-->
                        <!-- Twittear -->
                        <a class="twitter-share-button"
                        href="https://twitter.com/intent/tweet" 
                        data-text="¡Echa un vistazo a este contenido increíble!"
                        data-size="large"> Tweet</a>
                        <!-- Solicitud de seguimiento  -->
                        <a class="twitter-follow-button"
                        href="https://twitter.com/deusto"
                        data-size="large">
                        Follow @deusto</a>
                    </div>
                    <!-- Facebook Section -->
                    <div id="facebook-post" class="col-lg-12 text-center">
                        <h3>Facebook</h3>
                        <!-- Embedded Facebook Post Section -->
                        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fenespanol%2Fposts%2F3388915271122824%3A1113858882563392&show_text=true&width=500" width="500" height="498" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                        <!-- Share Button -->
                        <div class="fb-share-button" data-href="https://www.facebook.com/enespanol/posts/3388915271122824:1113858882563392" data-layout="button_count" data-size="large">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Fenespanol%2Fposts%2F3388915271122824%3A1113858882563392&src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                        </div>
                        
                        <!-- Follow Button -->
                        <div class="fb-follow" data-href="https://www.facebook.com/enespanol" data-layout="button_count" data-size="large">
                            <a href="https://www.facebook.com/enespanol" class="fb-xfbml-parse-ignore">Follow</a>
                        </div>
                        
                        </div>
                    </div>
                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0"></script>
                    
                </div>
            </div>
        </section>>
    </section>

    <!-- About Section -->
    <section class="success" id="about" itemscope itemtype="http://schema.org/AboutPage"> <!-- Micro-Semantics (RDFa and Microdata) -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 itemprop="nameç">Acerca de...</h2> <!-- Micro-Semantics (RDFa and Microdata) -->
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center" >
                    <p itemprop="description">AgendaVue es un proyecto simple en VueJS.</p> <!-- Micro-Semantics (RDFa and Microdata) -->
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center" itemscope itemtype="http://schema.org/WPFooter"> <!-- Micro-Semantics (RDFa and Microdata) -->
        <div class="footer-above">
            <div class="container">
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyleft &copy; e-ghost 2019
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
    
    <!-- Vue -->
    <script src="js/vue.js"></script> 
    <script src="js/agenda.js"></script>

</body>

</html>
