<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Agenda">
    <meta name="author" content="e-ghost 2019">

    <title>AgendaVue</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- Web Data (JSON-LD) -->
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "AgendaVue",
      "description": "Agenda básica en Vue",
      "url": "irl",
      "sameAs": [
        "enlace",
        "enlace"
      ]
    }
    </script>
    
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "ItemList",
      "name": "Contactos",
      "itemListElement": [
        {
          "@type": "Person",
          "name": "{{contacto.nombre}}",
          "email": "{{contacto.email}}",
          "telephone": "{{contacto.telf}}"
        },
      ]
    }
    </script>
    
        
</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top"> 
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Cambiar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">AgendaVue</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contactos">Contactos</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#nuevo">Añadir contacto</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Acerca de...</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">AgendaVue</span>
                        <hr class="star-light">
                        <span class="skills">Agenda básica en Vue</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Contactos Grid Section -->
    <section id="contactos" itemscope itemtype="http://schema.org/ItemList"> <!-- Micro-Semantics (RDFa and Microdata) -->
        <div class="container" itemprop="ItemList">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 itemprop="name">Contactos</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row" v-for="(contacto, index) in contactos" :key="index" itemprop="itemList" itemscope itemtype="http://schema.org/Person"> <!-- Micro-Semantics (RDFa and Microdata) -->
                <div class="col-xs-4">
                    <p itemprop="name">{{ contacto.nombre }}</p> <!-- Micro-Semantics (RDFa and Microdata) -->
                </div>
                <div class="col-xs-4">
                    <p itemprop="email">{{ contacto.email }}</p> <!-- Micro-Semantics (RDFa and Microdata) -->
                </div>
                <div class="col-xs-3">
                    <p itemprop="telephone">{{ contacto.telf }}</p> <!-- Micro-Semantics (RDFa and Microdata) -->
                </div>
                <div class="col-xs-1">
                    <button class="btn btn-danger btn-sm" @click="borrarContacto(index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
            <div class="row" v-if="contactos.length === 0">
                <div class="col-xs-12">
                    <p>No se ha encontrado ningún contacto.</p>
                </div>
            </div>
        </div>


        <!-- Añadir nuevo Section -->
        <section id="nuevo" itemscope itemtype="http://schema.org/AddAction"> <!-- Micro-Semantics (RDFa and Microdata) -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 itemprop="name">Añadir contacto</h2> <!-- Micro-Semantics (RDFa and Microdata) -->
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <form name="sentMessage" id="contactForm" novalidate @submit.prevent="anyadirContacto"> <!-- AÑADIR @submit.prevent="anyadirContacto" -->
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label for="name" itemprop="name">Nombre</label> <!-- Micro-Semantics (RDFa and Microdata) -->
                                    <input v-model="nuevoContacto.nombre" type="text" class="form-control" placeholder="Nombre" id="name" required> <!-- AÑADIDO: V-MODEL -->
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label for="email" itemprop="email">Email</label> <!-- Micro-Semantics (RDFa and Microdata) -->
                                    <input v-model="nuevoContacto.email" type="email" class="form-control" placeholder="Email" id="email" required> <!-- AÑADIDO: V-MODEL -->
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label for="telf" itemprop="telephone">Teléfono</label> <!-- Micro-Semantics (RDFa and Microdata) -->
                                    <input v-model="nuevoContacto.telf" type="tel" class="form-control" placeholder="Número de teléfono" id="telf" required> <!-- AÑADIDO: V-MODEL -->
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div id="success"></div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <button type="submit" class="btn btn-success btn-lg" itemprop="actionStatus">Añadir</button> <!-- Micro-Semantics (RDFa and Microdata) -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>


    <!-- About Section -->
    <section class="success" id="about" itemscope itemtype="http://schema.org/LocalBusiness"> <!-- Micro-Semantics (RDFa and Microdata) -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 itemprop="name">Acerca de...</h2> <!-- Micro-Semantics (RDFa and Microdata) -->
                    <hr class="star-light">
                </div>
            </div>
            <div class="row" itemprop="description">
                <div class="col-lg-12 text-center" >
                    <p itemprop="description">AgendaVue es un proyecto simple en VueJS.</p> <!-- Micro-Semantics (RDFa and Microdata) -->
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center" itemscope itemtype="http://schema.org/WPFooter"> <!-- Micro-Semantics (RDFa and Microdata) -->
        <div class="text-center">
            <div class="footer-above">
                <div class="container">
                </div>
            </div>
            <div class="footer-below">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            Copyleft &copy; e-ghost 2019
                            <!-- CAPACIDADES SOCIALES -->
                            <div itemscope itemtype="http://schema.org/Organization"> <!-- Micro-Semantics (RDFa and Microdata) -->                                
                                <a href="https://twitter.com/deusto?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank" rel="noopener noreferrer"> <!-- Twitter -->
                                    <i class="fa fa-twitter fa-2x" itemprop="sameAs"></i> <!-- Micro-Semantics (RDFa and Microdata) -->
                                </a>
                                <a href="https://www.facebook.com/UDeusto/?locale=es_ES" target="_blank" rel="noopener noreferrer"> <!-- Facebook -->
                                    <i class="fa fa-facebook fa-2x" itemprop="sameAs"></i> <!-- Micro-Semantics (RDFa and Microdata) -->
                                </a>                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
    
    <!-- Vue -->
    <script src="js/vue.js"></script> 
    <script src="js/agenda.js"></script> <!-- AÑADIDO -->


</body>

</html>
