<!DOCTYPE html>
<html lang="es">
    {% load static %}
    <head>
        <title>DeustoFlix</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/w3.css' %}">
        <link rel="stylesheet" href="{% static 'css/familyKarma.css' %}">
        <link rel="stylesheet" href="{% static 'css/general.css' %}">


    </head>
    <body>

        <!-- Sidebar (hidden by default) -->
        <nav class="w3-sidebar w3-bar-block w3-card w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
        <a href="javascript:void(0)" onclick="w3_close()"
        class="w3-bar-item w3-button">X</a>
        <a href="{% url 'indexPortada' %}" onclick="w3_close()" class="w3-bar-item w3-button">Principal</a>
        <a href="{% url 'index_peliculas' %}" onclick="w3_close()" class="w3-bar-item w3-button">Películas</a>
        <a href="{% url 'index_generos' %}" onclick="w3_close()" class="w3-bar-item w3-button">Géneros</a>
        <a href="{% url 'index_directores' %}" onclick="w3_close()" class="w3-bar-item w3-button">Directores</a>
        </nav>

        <!-- Top menu -->
        <div class="w3-top">
        <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">
            <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()">☰</div>
            <!-- TEXTO ARRIBA DERECHA <div class="w3-right w3-padding-16">Mail</div> -->
            <div class="w3-center w3-padding-16">DEUSTOFLIX</div>
        </div>
        </div>
        
        <!-- !PAGE CONTENT! -->
        <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
            {% block contenido %}
            {% endblock %}
        </div>
        
        <footer class="site-footer">
            <div class="footer-content">
                <div class="contact-info">
                    <h3>Contacto</h3>
                    <p>Email: info@deustoFlix.com</p>
                    <p>Teléfono: +34 999 999 999</p>
                </div>
                <div class="newsletter">
                    <h3>Suscripción al Boletín</h3>
                    <p>Suscríbete para recibir actualizaciones sobre nuevas películas, ofertas especiales y más.</p>
                    <form>
                        <input type="email" placeholder="Tu correo electrónico">
                        <button type="submit">Suscribirse</button>
                    </form>
                </div>
            </div>
        </footer>
        
        <script>
        // Script to open and close sidebar
        function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        }
        
        function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        }
        </script>

    </body>
</html>