{% extends "base.html" %}
{% load static %}
{% block contenido %}
<link rel="stylesheet" href="{% static 'css/styles_contacto.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{% static 'js/contacto.js' %}"></script>
<script src="{% static 'js/form_validation.js' %}"></script>
<div class="portfolio__inner">
    <h2 class="portfolio__title">Contacta con Nosotros</h2>
    <p class="portfolio__descr">¡Estamos deseando contactar contigo!</p>
    <div id="formulario">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend>
                    Datos Personales
                </legend>
                <label for="nombre"> Nombre: </label>
                <input type="text" id="nombre" required> <br> <br>
                <label for="apellidos"> Apellidos: </label>
                <input type="text" id="apellidos" required> <br> <br>
                <label for="email_usuario"> Email: </label>
                <input type="email" name="correo" id="email_usuario" required> <br> <br>
            </fieldset>
            <br>
            <fieldset>
                <legend>
                    Datos del Usuario
                </legend>
                <label for="asunto"> Elija el asunto de su consulta: </label>
                <select name="asunto" id="asunto">
                    <optgroup label="Motivo de Contacto">
                        <option value="recomendaciones"> Recomendaciones </option>
                        <option value="sugerencias" selected> Sugerencias </option>
                        <option value="quejas"> Quejas </option>
                        <option value="reclamaciones"> Reclamaciones </option>
                    </optgroup>
                </select> <br> <br>
                <label for="comentarios"> Escriba aquí su consulta: </label> <br> <br>
                <textarea name="Comentarios" id="comentarios" cols="50" rows="10"
                    placeholder="Escriba aquí su consulta"></textarea>
            </fieldset>
            <p>
                <input type="checkbox" name="Acepto_Cond" id="condiciones" required>
                <label for="condiciones">Acepto las condiciones y el tratamiento de mis datos personales.</label>
            </p>
            <p>
                <input type="submit" value="Enviar" id="btn_enviar" disabled>
            </p>
        </form>
    </div>
</div>
{% endblock %}