{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div class="portfolio__inner">
    <h2 class="portfolio__title">Directores</h2>
    <p class="portfolio__descr">Aquí te mostramos informacion acerca de los directores de cine.</p>
    <div class="container">
        {% if lista_directores %}
            {% for director in lista_directores %}
                <div class="entidad">
                    <h3 id="nombre_director">{{director.nombre}}</h3>
                    {% with director.imagen.name|slice:"4:" as sin_img %}
                            {% with 'images/'|add:sin_img as imagen%}
                                <a href="{% url 'show_director' director.id %}">
                                <img src="{% static imagen %}" alt="Imagen Director">
                                </a>
                            {% endwith %}
                    {% endwith %}  
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    <div style="clear: both;"></div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p id="No director">No hay directores disponibles.</p>
        {% endif %}
    </div>
</div>
{% endblock %}