{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div class="portfolio__inner">
    <h2 class="portfolio__title">{{director.nombre}}</h2>
    <p class="portfolio__descr">Aquí te mostramos informacion acerca del director {{director.nombre}}</p>
    <ul id="info_director">
        <li>Nombre: {{director.nombre}}</li>
        <li>Fecha nacimiento: {{director.fecha_nacimiento}}</li>
        <li>Nacionalidad: {{director.nacionalidad}}</li>
        <li>Premiado: {{director.premiado}}</li>
    </ul>
    {% with director.imagen.name|slice:"4:" as sin_img %}
            {% with 'images/'|add:sin_img as imagen%}
                <img src="{% static imagen %}" alt="Imagen Director">
            {% endwith %}
    {% endwith %}
</div>
{% endblock %}