{% extends "base.html" %}
{%load i18n%}
{% load static %}

{% block contenido %}
<div class="portfolio__inner">
    <h2 class="portfolio__title">{%trans 'Directores'%}</h2>
    <p class="portfolio__descr">{%trans 'Aquí te mostramos la lista de directores de cine disponibles'%}</p>
    <div class="container">
        {% if object_list %}
            {% for director in object_list %}
                <div class="entidad">
                    <h3 id="nombre{{ director.id }}">{{ director.nombre }}</h3>
                    {% with director.imagen.name|slice:"4:" as sin_img %}
                        {% with 'images/'|add:sin_img as imagen %}
                            <a href="{% url 'ShowDirector' director.id %}">
                                <img src="{% static imagen %}" alt="Imagen Director">
                            </a>
                        {% endwith %}
                    {% endwith %}  
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    <div id="separador"></div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p id="No_director">{%trans 'No hay directores disponibles.'%}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
