{% extends "base.html" %}
{% load static %}
{% block contenido %}
<div class="portfolio__inner">
    <h2 class="portfolio__title">Géneros</h2>
    <p class="portfolio__descr">Aquí te mostramos la lista de géneros: </p>
    {% if lista_generos %}
        {% for genero in lista_generos %}
            <ul>
                <li> <a href="{% url 'show_genero' genero.id %}"> {{genero.nombre}}</a></li>
            </ul>
        {% endfor %}
    {% else %}
        <p id="No generos">No hay generos disponibles.</p>
    {% endif %}
</div>
{% endblock %}