{% extends "base.html" %}
{%load i18n%}
{% load static %}

{% block contenido %}
<div class="portfolio__inner">
    <h2 class="portfolio__title">{% trans'Géneros'%}</h2>
    <p class="portfolio__descr">{%trans 'Aquí te mostramos la lista de géneros:'%}</p>
    {% if object_list %}
        {% for genero in object_list %}
            <ul>
                <li> <a href="{% url 'ShowGenero' genero.id %}"> {{ genero.nombre }}</a></li>
            </ul>
        {% endfor %}
    {% else %}
        <p id="No_generos">{% trans 'No hay géneros disponibles.'%}</p>
    {% endif %}
</div>
{% endblock %}
