{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block contenido %}
<div class="portfolio__inner">
    <p>
        <a href="/es/"> Castellano</a>
        <a href="/en/"> English</a>
    </p>
    <h2 class="portfolio__title">{%trans 'Películas más vistas de cada género' %}</h2>
    <div class="container">
        {% if lista_peliculasMasVistas %}
            {% for pelicula in lista_peliculasMasVistas %}
                <div class="entidad">
                    <h3 id="nombre{{ pelicula.id }}">
                        {{ pelicula.nombre }} </h3>
                    {% with pelicula.imagen.name|slice:"4:" as sin_img %}
                        {% with 'images/'|add:sin_img as imagen %}
                            <a href="{% url 'ShowPelicula' pelicula.id %}">
                            <img src="{% static imagen %}" alt="Imagen Pelicula">
                            </a>
                        {% endwith %}
                    {% endwith %}
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    <div id="separador{{pelicula.id}}"></div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p id="No_peliculas"> {% trans 'No hay películas disponibles.' %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}


<div class="w3-container w3-padding-32 w3-center">  
    <h3>About DeustoFlix</h3><br>
    <h6><i>{% trans 'Tu web ideal para buscar las películas más taquilleras' %}</i></h6>
    <p>{% trans 'La web donde podrás encontrar toda la información sobre las películas más taquilleras. Podrás buscar dependiendo de tu género o director preferidos.' %}</p>
</div>
