{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block contenido %}
<div class="portfolio__inner">
    <h2 class="portfolio__title"> {% trans 'Películas' %}</h2>
    <p class="portfolio__descr">{% trans 'Aquí te mostramos todas las películas disponibles' %}</p>
    <div class="container">
        {% if object_list %}
            {% for pelicula in object_list %}
                <div class="entidad">
                    <h3 id="nombre{{ pelicula.id }}">{{ pelicula.nombre }}</h3>
                    {% with pelicula.imagen.name|slice:"4:" as sin_img %}
                        {% with 'images/'|add:sin_img as imagen %}
                            <a href="{% url 'ShowPelicula' pelicula.id %}">
                                <img src="{% static imagen %}" alt="{% trans 'Imagen Película' %}">
                            </a>
                        {% endwith %}
                    {% endwith %}
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    <div id="separador"></div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p id="No_peliculas"> {% trans 'No hay películas disponibles.' %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
