{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block contenido %}
<div class="portfolio__inner">
    <div class="infoEsp">
        <div class="info-left">
            <h2 class="portfolio__title">{{ pelicula.nombre }}</h2>
            <p class="portfolio__descr">{% trans 'Aquí te mostramos información acerca de la película:' %} {{ pais.nombre }}</p>
            <ul id="info_pais">
                <li><strong>{% trans 'NOMBRE:' %}</strong> {{ pelicula.nombre }}</li>
                <li><strong>{% trans 'GENERO:' %}</strong> <a href="{% url 'ShowGenero' pelicula.genero.id %}">{{ pelicula.genero }}</a></li>
                <li><strong>{% trans 'DIRECTOR(ES): ' %}</strong></li>
                <li>
                    <ul id="directores">
                    {% for director in pelicula.director.all %}
                        <li><a href="{% url 'ShowDirector' director.id %}">{{ director.nombre }}</a></li>
                    {% endfor %}
                    </ul>
                </li>
                <li><strong>{% trans 'FECHA ESTRENO:' %}</strong> {{ pelicula.fecha_estreno }}</li>
                <li><strong>{% trans 'DURACIÓN:' %}</strong> {{ pelicula.duracion }} {%trans 'minutos'%}</li>
                <li><strong>{% trans 'RECOMENDACIÓN EDAD:' %}</strong> {{ pelicula.recomendacionEdad }} {%trans 'años' %}</li>
                <li><strong>{% trans 'VISUALIZACIONES:' %}</strong> {{ pelicula.vecesVista }}</li>
            </ul>
        </div>
        <div class="image-right">
            {% with pelicula.imagen.name|slice:"4:" as sin_img %}
                {% with 'images/'|add:sin_img as imagen %}
                    <img src="{% static imagen %}" alt="Imagen Pelicula">
                {% endwith %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}